name: Manual Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Plugin
        run: ./gradlew makePlugin

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: plugin
          path: output/*.apk
